---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css';

interface Props {
  title: string;
  description: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description } = Astro.props;
---

{/* Global Metadata */}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

{/* Fonts */}
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="true"/>
<style>
  @font-face {
    font-family: 'Fira Code';
    font-weight: 300 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/firacode/v22/uU9NCBsR6Z2vfE9aq3bh3dSD.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Fira Sans';
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/firasans/v17/va9B4kDNxMZdWfMOD5VnLK3eRhf6.woff2) format('woff2');
  }
</style>

{/* Scripts */}
<script src="../scripts/fancy-borders.ts"></script>
<script src="../scripts/slide-in.ts"></script>

{/* Canonical URL */}
<link rel="canonical" href={canonicalURL} />

{/* Primary Meta Tags */}
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
